@model List<FieldAgent.Entities.Agency>
@{
    ViewBag.Title = "Agency List";
}
<h1>Agency List</h1>
<div class="row">
    <p><a asp-action="Add">Create new Agency</a></p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Short Name</th>
                <th>Long Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var agency in Model)
            {
            <tr>
                <td>@agency.AgencyId</td>
                <td>@agency.ShortName</td>
                <td>@agency.LongName</td>
                <td>
                    <a asp-controller="Agency" asp-action="Details" asp-route-id="@agency.AgencyId">Details</a> |
                    <a asp-controller="Agency" asp-action="Edit" asp-route-id="@agency.AgencyId">Edit</a> |
                    <a asp-controller="Agency" asp-action="Delete" asp-route-id="@agency.AgencyId">Delete</a> 
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
